aws_region        = "ap-northeast-2"
project_name      = "trot-fandom"
environment       = "prod"
github_repository = "MBN-FANCY-ELEPHANT/MBN-2nd-FAN-MEET"

instance_type      = "t3.micro"
root_volume_size   = 20
http_allowed_cidr  = "0.0.0.0/0"

# AWS 계정에 token.actions.githubusercontent.com OIDC provider가 이미 있다면:
# create_github_oidc_provider = false
# github_oidc_provider_arn    = "arn:aws:iam::123456789012:oidc-provider/token.actions.githubusercontent.com"
